
html, body {  
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%; 
}
#ad {
	border: #000 1px solid;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 250px;/*100%;*/
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 300px;/*100%;*/

}

/* --  content start  --------------------------------------------------------  */

#flo1 {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 0;
}

#feeling1 {
	opacity: 0;
	position: absolute;
	top: 90px;
	left: 160px;
}

#feeling1.in {
	opacity: 1;
	position: absolute;
	top: 90px;
	left: 160px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

#feeling2 {
	opacity: 0;
	position: absolute;
	top: 75px;
	left: 175px;
}

#feeling2.in {
	opacity: 1;
	position: absolute;
	top: 75px;
	left: 175px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

#feeling3 {
	opacity: 0;
	position: absolute;
	top: 53px;
	left: 180px;
}

#feeling3.in {
	opacity: 1;
	position: absolute;
	top: 53px;
	left: 180px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

#flo2 {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 300px;
}

#flo2hands {
	opacity: 0;
	top: 0;
	position: absolute;
	left: 300px;
}

#flo2hands.in {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 300px;
	transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
}

#flo3bg {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 600px;
}

#flo3lines {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 600px;
	transform: scale(.5,.5);
}

#flo3lines.scale {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 600px;
	transform: scale(1,1);
	transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
}

#flo3fg {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 600px;
}

#flo4 {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 900px;	
}

#flo5 {
	opacity: 0;
	top: 0;
	position: absolute;
	left: 900px;	
}

#flo5.in {
	opacity: 1;
	top: 0;
	position: absolute;
	left: 900px;	
}

#flo5.out {
	opacity: 0;
	top: 0;
	position: absolute;
	left: 900px;
}

#strip {
	top: 0;
	position: absolute;
	transform: translateX(0);	
	width: 1200px;
    height: 250px;
}

#strip.move1 {
	top: 0;
	position: absolute;
	transform: translateX(-25%);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

#strip.move2 {
	top: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

#strip.move3 {
	top: 0;
	position: absolute;
	transform: translateX(-75%);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

#mask {
	position: absolute;
	clip: rect(9px, 300px, 250px, 9px);
}

#bubble {
	top: 4px;
	position: absolute;
	transform: translateX(-150px); 
}

#bubble.in {
	top: 4px;
	position: absolute;
	transform: translateX(14px); 
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}



/* --  content ends  ---------------------------------------------------------  */

/* --  CTA  ------------------------------------------------------------------  */ 

#button1 {	
	bottom: 8px;
	left: 15px;
    opacity: 0;
	position: absolute;
	-webkit-appearance: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
#button1.in {
	opacity: 1;
	position: absolute;
	-webkit-appearance: none;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
#button1.mouse {
	opacity: 1;
	position: absolute;
	-webkit-appearance: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
#button2 {	
	bottom: 8px;
	left: 15px;
    opacity: 0;
	position: absolute;
	-webkit-appearance: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
	z-index: 1;
}
#button2.in {
	opacity: 0;
	position: absolute;
	-webkit-appearance: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;

}
#button2.mouse {
	opacity: 1;
	position: absolute;
	-webkit-appearance: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

#quote1 {
	position: absolute;
	top: 12px;
	left: 28px;
}

#quote2 {
	position: absolute;
	top: 12px;
	left: 28px;
}

#bgExitArea { 
	cursor: pointer; 
	height: 100%; 
	left: 0;
	opacity: 0; 
	position: absolute; 
	top: 0;   
	width: 100%;
}
#bgExitArea a {
	display: none;
}
